<?xml version="1.0"?>
<config>
    <sections>
        <ivoinov_report translate="label" module="ivoinov_report">
            <label>Orders report settings</label>
            <tab>sales</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <order translate="label" module="ivoinov_report">
                    <label>Order report settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="ivoinov_report">
                            <label>Enable</label>
                            <comment>Enable send order report</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <template translate="label" module="ivoinov_report">
                            <label>Email template</label>
                            <comment>Report email template</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </template>
                        <send_to translate="label" module="ivoinov_report">
                            <label>Email recipient</label>
                            <frontend_type>text</frontend_type>
                            <comment>Comma separate emails</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </send_to>
                        <is_attach_csv_file translate="label" module="ivoinov_report">
                            <label>Attach CSV file</label>
                            <comment>Is attach CSV file with open order amount</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </is_attach_csv_file>
                    </fields>
                </order>
            </groups>
        </ivoinov_report>
    </sections>
</config>